# Copiar como .env para desarrollo local
# En Railway añadir en Settings → Variables

ANTHROPIC_KEY=sk-ant-api03-...tu-key-aqui
MAERSK_KEY=p77GXozTmD6HlRYUhbwVpjGX7LZjHauC
MAERSK_SECRET=RH12oa3Rq1uNzgK8
PORT=3001
